
nav(class="navbar")
    ul(class="nav-elements")
        li(class="nav-link") 
            a(href="/") Home 
        li(class="nav-link")
            a(href="/artist") Artistas 
        li(class="nav-link") 
            a(href="/band") Bandas
        if !session.user
            li(class="nav-link") 
                a(href="/login") Login
            li(class="nav-link") 
                a(href="/register") Registro
        else
            li(class="nav-link") 
                form(action="/logout", method="post") 
                    button(type="submit") Logout
