extends ../layout

block content
    h1 lista de bandas
    if error 
        p(class="error")= error
    if data
        ul
            each band in data 
                li
                    a(href="/band/"+band.band_id)= band.name
                    a(href=`/band/${band.band_id}/update`) 
                        button Editar
                    form(action=`/band/${band.band_id}/remove`, method="post") 
                        button(type="submit") Borrar
    a(href="/band/new")
        button Nuevo