extends ../layout

block content 
    form(action="/band", method="post") 
        label(for="name") Nombre
        input(type="text", name="name")
        label(for="creation_date") Fecha de creación
        input(type="date", name="creation_date")
        button(type="submit") Crear

